/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inicio de styles.css */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Usa toda la altura visible */
}

/* Contenedor principal que crece para empujar el footer */
main {
    flex: 1;
}


/* Fuente y fondo general */
body {
    font-family: Arial, sans-serif;
    background-color: #d9c6dc; /* Morado claro como en la captura */
    color: #000;
}

/* Hero (logo + título) */
.hero {
    background-color: #0b0333; /* Azul muy oscuro de la cabecera */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    text-align: center;
    flex-wrap: wrap;
}

.hero .logo img {
    width: 120px;
    margin-bottom: 10px;
}

.hero-text {
    color: #eee;
    margin-left: 20px;
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: bold;
}

.hero-text p {
    font-size: 0.9rem;
    color: #c7c7c7;
}

/* Contenedor del login */
#login-container {
 
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}

#login-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Formulario LOGIN*/
#login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

#login-form label {
    font-weight: bold;
    font-size: 0.95rem;
}

#login-form input {
    padding: 12px;
    border: none;
    background-color: white;
    font-size: 0.95rem;
}

#login-form button {
    background-color: #0b0333;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#login-form button:hover {
    background-color: #1a0a55;
}
/* Formulario REGISTRO*/
#signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

#signup-form label {
    font-weight: bold;
    font-size: 0.95rem;
}

#signup-form input {
    padding: 12px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 0.95rem;
}

#signup-form button {
    background-color: #0b0333;
    color: rgba(255, 255, 255);
    padding: 12px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#singup-form button:hover {
    background-color: #1a0a55;
}

/* Texto registro */
.register-text {
    margin-top: 15px;
    font-size: 0.9rem;
}

.register-text a {
    color: rgb(0, 4, 255);
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #0b0333;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.85rem;
    /* margin-top: 20px;  Elimina este margen */
    width: 100%;
}

footer p {
    margin: 5px 0;
}